/* header */
header {
  background-image: url(../assets/hero-bg.jpg);
  background-color:color-mix(in srgb, var(--bg-2), transparent 30%); ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  background-blend-mode: multiply; 

  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}
.header-container{
 color: var(--bg-1) ;
 display: flex;
 justify-content: space-between;
 align-items: center;
 min-height: 4.5rem;
}
.header-container a{
color: inherit ;
letter-spacing: 1px ;
}
.main-links{
list-style-type: none;
display: flex;
gap: 2em ;
}
.scrolled  {
box-shadow: 0px 0 18px rgba(0, 0, 0, 0.2);
}

/* home */
#home{
min-height: calc(100vh - 4.5rem);
background-image: url(../assets/hero-bg.jpg);
background-position: center;
background-size: cover;
position: relative;
}
#home::after{
content: "" ;
background: color-mix(in srgb, var(--bg-2), transparent 30%); 
position: absolute;
inset:0 ;
z-index: 2;
mix-blend-mode: multiply;
}
.home-container{
display: flex;
-ms-flex-align: center;
justify-content: space-between;
}
