 :root {
   --clr: #212529;
   --heading-clr: #2d465e;
   --accent-clr: #559bcc;
   --bg-1: #fff ;
   --bg-2:rgb(20, 46, 108) ;
 }

 *,
 *::before,
 *::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
 html{
  scroll-behavior: smooth;
 }
 body{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  background-color: var(--bg-1);
 }
 .container{
 max-width: 1450px;
 margin-inline: auto;
 padding-inline: 1rem;
 }
p , a , input , textarea{
font-family: "Roboto", sans-serif;
font-optical-sizing: auto;
font-weight: 500;
}
img{
max-width: 100%;
}
a{
text-decoration: none;
}